SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=info@arenalnighthike.com
SMTP_PASS=sdfdsfd
CONTACT_TO=info@arenalnighthike.com
CONTACT_FROM=info@arenalnighthike.com
CONTACT_RATE_LIMIT_PER_DAY=10
